{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <main>
        <!-- BREADCRUMB SECTION START -->
        <div class="ul-container">
            <div class="ul-breadcrumb">
                <h2 class="ul-breadcrumb-title">Blog Details</h2>
                <div class="ul-breadcrumb-nav">
                    <a href="index-2.html"><i class="flaticon-home"></i> Home</a>
                    <i class="flaticon-arrow-point-to-right"></i>
                    <span class="current-page">Blog Details</span>
                </div>
            </div>
        </div>
        <!-- BREADCRUMB SECTION END -->

        <!-- BLOG SECTION START -->
        <div class="ul-inner-page-container">
            <div class="row ul-bs-row">
                <div class="col-xxxl-12 col-lg-12 col-md-12"> <!-- Changed to full width -->
                    <!-- blog details -->
                    <div class="ul-blog-details">
                        <div class="ul-blog ul-blog-big">
                            <h3 class="ul-blog-title"><a href="{% url 'web:blog_details' blog.pk %}">{{ blog.title }}</a></h3>

                            <div class="ul-blog-img">
                                <img src="{{ blog.image.url }}" alt="Blog Image">

                                <div class="ul-blog-infos ul-blog-details-infos flex gap-x-[30px] mb-[16px]">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-user-2"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By {{ blog.author }}</span>
                                    </div>
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-calendar"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">{{ blog.created_at|date:"M d, Y" }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="ul-blog-txt">
                                <p class="ul-blog-descr">{{ blog.content }}</p>

                                <!-- Removed static images -->
                                <!-- <div class="ul-blog-details-inner-img">
                                    <div><img src="{% static 'web/img/blog-big-img-2.jpg' %}" alt="blog inner image"></div>
                                    <div><img src="{% static 'web/img/blog-big-img-3.jpg' %}" alt="blog inner image"></div>
                                </div> -->

                                <blockquote><span class="icon"><i class="flaticon-quote"></i></span> {{ blog.content }}</blockquote>

                                <p class="ul-blog-descr">{{ blog.content }}</p>
                            </div>

                            <!-- actions -->
                            <div class="ul-blog-details-actions">
                                <!-- tags -->
                                <div class="tags-wrapper">
                                    <div class="ul-blog-tags tags">
                                        {% for tag in blog.tags.all %}
                                            <a href="#">{{ tag }}</a>
                                        {% empty %}
                                            <!-- No tags will be shown if empty -->
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- share -->
                                <div class="share">
                                    <div class="share-options">
                                        <a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
                                        <a href="#"><i class="flaticon-twitter"></i></a>
                                        <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                        <a href="#"><i class="flaticon-youtube"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- nav -->
                            <div class="ul-blog-details-nav">
                                <div class="nav-item prev">
                                    <a href="blog-details.html" class="icon-link"><i class="flaticon-left-arrow"></i></a>
                                    <a href="blog-details.html" class="text-link">Prev Post</a>
                                </div>

                                <div class="nav-item prev">
                                    <a href="blog-details.html" class="text-link">Next Post</a>
                                    <a href="blog-details.html" class="icon-link"><i class="flaticon-arrow-point-to-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="ul-blog-details-bottom">
                        </div>
                    </div>
                </div>

                <!-- Sidebar removed -->
            </div>
        </div>
        <!-- BLOG SECTION END -->
    </main>
{% endblock %}